*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/plugin/build/
/plugin/.gradle/
/plugin/local.properties
/plugin/export_scripts_template/*.aar
*.aac
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.log
*.hprof
*.keystore
!debug.keystore
*.jks
